!!!
%html
  %head
    %title Osurb
    %link(rel='stylesheet' type='text/css' href='/osurb.css')
  %body
    #header
      %h1 osu.rb
      %img{:id => 'logo', :src => '/osurb.png'}
    #content
      .introduction
        %h2 Who Are We?
        %p
          We're a bunch of students, graduates and alumni
      %a{:href => "foo"} Follow Us
      .introduction
        %h2 Who Can Join?
        %p
          Lorem ipsum dolar
      %a{:href => "foo"} Join the Mailing List
