html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1; }

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  quotes: none; }

pre, a, abbr, acronym, address, big, cite, code {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: line-through; }

dfn, em, font, img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

kbd {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

q {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  quotes: none; }

s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none; }

li, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

*:focus {
  outline: 0; }

body {
  background-image: url("textured-bg.png");
  background-repeat: repeat;
  background-color: #5f0c17;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em; }

#background-bar {
  background-color: #33b00a;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7eca67), to(#2c9808));
  background-image: -moz-linear-gradient(center top, #7eca67 0%, #2c9808 100%);
  width: 100%;
  height: 0.667em;
  position: absolute;
  top: 0;
  left: 0; }

#header {
  margin: 0px auto;
  margin-bottom: -20px;
  position: relative;
  width: 650px; }
  #header img {
    width: 35%;
    padding-left: 20px;
    margin-top: 15px; }
  #header h1 {
    position: absolute;
    right: 0px;
    top: 50%;
    bottom: 50px;
    color: #e5e5e5;
    font-size: 5.5em;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 2px 2px; }
  #header .relevant_links {
    width: 650px;
    font-size: 0.8em; }
    #header .relevant_links li {
      height: 2em;
      width: 25%;
      display: inline-block;
      background-color: #33b00a;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7eca67), to(#2c9808));
      background-image: -moz-linear-gradient(center top, #7eca67 0%, #2c9808 100%);
      float: left; }
      #header .relevant_links li:hover {
        background-color: #41e00c;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9ed78d), to(#3ac80b));
        background-image: -moz-linear-gradient(center top, #9ed78d 0%, #3ac80b 100%); }
    #header .relevant_links li.first {
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomright: 0px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-topright: 0px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 0px;
      -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px; }
    #header .relevant_links li.last {
      -moz-border-radius-bottomleft: 0px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-topright: 0px;
      -webkit-border-bottom-left-radius: 0px;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px; }
  #header a.button {
    /* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6ECF36), to(#4E9326)) */
    /* background-image: -moz-linear-gradient(center top , #6ECF36 0%, #4E9326 100%) */
    color: #103703;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px, rgba(255, 255, 255, 0.5) 0px 1px 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    height: 100%; }

#content {
  width: 650px;
  margin: 0px auto;
  margin-bottom: 50px; }
  #content ul li.blurb {
    display: block;
    clear: both;
    margin-bottom: 1.5em; }
  #content ul h2 {
    color: #5f121e;
    font-size: 1.4em;
    line-height: 1.8em;
    padding: 0 0 8px 0;
    font-family: Georgia;
    font-style: italic; }
  #content ul .introduction {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 618px;
    padding: 0.5em 16px;
    background-color: #e5e5e5;
    -moz-box-shadow: 0 0 3px 3px #4f141d;
    -webkit-box-shadow: 0 0 3px 3px #4f141d;
    box-shadow: 0 0 3px 3px #4f141d;
    /* background-color: rgba(255, 255, 255, 0.1) */
    /* float: left */ }
    #content ul .introduction p {
      color: #111111;
      text-shadow: #bbbbbb 2px 1px 4px; }

em {
  font-weight: bold;
  color: #55aa3b;
  font-style: normal;
  text-shadow: none; }
